{% extends 'app_home/app/base.html' %}
{% load static %}
{% block baoHanh %}

<div class="content-wrapper">
  <div class="content1">
    <div class="ve-chung-toi">
      <div>
        <h4><b>Chính sách bảo hành</b></h4>
        <h1><b>Đối với trang sức kim cương</b></h1>
        <p>
          MIỄN PHÍ làm mới, xi, đánh bóng, làm sạch đá trọn đời đối với các sản phẩm Nhẫn, Bông tai, Dây chuyền, Lắc tay.
        </p>
        <p>
          Quý khách nên tới Showroom của DSSystem 02 tháng/ lần để vệ sinh trang sức..
        </p>
        <p>
          Hỗ trợ gắn lại hột tấm bị rớt hoặc bị mờ.
        </p>
        
      </div>
      <img src="{%static 'app_home/assets/DssShop/img/ring1.jpg'%}" alt="Về chúng tôi" />
    </div>

    <div class="su-menh">
      <img src="{%static 'app_home/assets/DssShop/img/ring2.jpg'%}" alt="Sứ mệnh" />
      <div>
        <h1><b>Đối với trang sức cưới</b></h1>
        <p>
          <p>
            MIỄN PHÍ làm mới, xi, đánh bóng, làm sạch đá trọn đời.
          </p>
          <p>
            Đối với sản phẩm được chế tác từ vàng hồng sẽ có tính phí (tùy mức độ hư hỏng).
          </p>
        </p>
      </div>
    </div>

    <div class="tam-nhin">
      <div>
        <h1><b>Thông tin về Giấy GPA và bảo hành</b></h1>
        <p>
          Chúng tôi mong muốn xây dựng một cộng đồng yêu trang sức – nơi khách hàng không chỉ mua sắm,
          mà còn chia sẻ niềm đam mê, khám phá xu hướng mới và nhận sự tư vấn chuyên nghiệp. 
          DSSystem hướng đến việc trở thành thương hiệu hàng đầu trong lĩnh vực trang sức tại Việt Nam và trên thế giới.
        </p>
      </div>
      <img src="{%static 'app_home/assets/img/elements/giayTo/giay-kiem-dinh-gra.jpg'%}" alt="Tầm nhìn" />
    </div>
  </div>

  <div class="thanh-vien">
    <h1><b>Giấy bảo hành</b></h1>
    <img src="{%static 'app_home/assets/img/elements/giayTo/baoHanh.jpg'%}" alt="Tầm nhìn" />
  </div>
</div>

{% endblock baoHanh %}