{% extends 'app_home/app/base.html' %}
{% load static %}

    {% block register %}
    <div class="container" >
        <div class="row w-100">
            {% for product in products %}
            <div class="col-lg-3 mb-4">
                <div class="box-element product">
                    <div>
                        <img class="thumbnail img-fluid" src="{{ product.image.url|default:'/static/app/images/no-image.jpg' }}" alt="{{ product.name }}">
                    </div>
                    <hr>
                    <h6><strong>Tên: </strong>{{ product.name }}</h6>
                    <h6><strong>Mã SP:{{ product.id }}</strong></h6>
                    <h6><strong>Trọng lượng{{ product.carat_weight}}</strong></h6>
                    <h6><strong>Ngày nhập{{ product.update_date}}</strong></h6>
                    <h6><strong>{{ product.size_ni}}</strong></h6>
                    <p>Mô tả: {{ product.description}}</p>
                  
                    <h4>
                        <strong>Giá: </strong>{{ product.price }} VNĐ
                    </h4>
                    <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                    <a class ="btn btn-outline-success" href="{% url 'detail'%}?id={{product.id}}">view</a>
                    
                </div>
            </div>
            {% endfor %}
        </div>
        
        <br><br><br>
        </div>
    {% endblock register %}

    {% block footer %}
    {% include 'includes/footer.html' %}
    {% endblock %}