{% extends 'app_home/app/base.html' %}
{% load static %}
{% block muaHang %}

<div class="content-wrapper">
  <div class="content1">
    <div class="ve-chung-toi">
      <div>
        <h4><b>Hướng Dẫn Mua Hàng</b></h4>      
          <i>Nhằm mang lại trải nghiệm tốt nhất cho quý khách hàng trong quá trình mua hàng. DSSystem sẽ giới thiệu các hình thức mua hàng  tại website giúp quý khách có thể thoải mái lựa chọn và thanh toán khi giao hàng.
          </i>
          <br>
          <h1><b>Cách 1:</b></h1>
         
      
      
          <p>
            
            Liên hệ hotline Quý khách vui lòng liên hệ theo hotline của DSSystem 0123456789 (miễn phí) được hỗ trợ tư vấn một cách tốt nhất. Thời gian từ 8h – 21h (kể cả chủ nhật & trừ ngày lễ), đội ngũ chuyên viên tư vấn tại DSSystem luôn sẵn sàng phục vụ.
    
          </p>
      </div>
       
      <img src="{%static 'app_home/assets/DssShop/img/ring1.jpg'%}" alt="Về chúng tôi" />
    </div>
    
   
    <div class="su-menh">
      <img src="{%static 'app_home/assets/DssShop/img/ring2.jpg'%}" alt="Sứ mệnh" />
      <div>
        <h1><b>Cách 2:</b></h1>
        <p>
           Đặt hàng trực tiếp tại website và thanh toán khi nhận hàng 
        </p>
      </div>
    </div>

    <div class="tam-nhin">
      <div>
        <h1><b>Cách 3:</b></h1>
        <p>
          Liên hệ trực tiếp với cửa hàng qua zalo(0123456789) hoặc Facebook DSSystem để được tư vấn và đặt hàng
        </p>
      </div>
      <img src="{%static 'app_home/assets/DssShop/img/ring3.jpg'%}" alt="Tầm nhìn" />
    </div>
  </div>

</div>

{% endblock muaHang %}