{% extends "master-page.html" %}
{% load humanize %}

{% block left-menu %}
    {% include "../../includes/left-menu.html" %}
{% endblock %}

{% block nav-bar %}
    {% include "../../includes/nav-bar.html" %}
{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Forms /</span> Delete {{ object_name }}
    </h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Confirm Deletion</h5>
                <div class="card-body">
                    <p>Are you sure you want to delete <strong>{{ object_name }}</strong>?</p>
                    <form method="post" action="{% url 'delete-customer' loyalty_customer.id %}">
                        {% csrf_token %}
                        <div class="demo-inline-spacing">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <a href="{{ cancel_url }}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include '../../includes/footer.html' %}
{% endblock %}
