{% extends "master-page.html" %}

{% block left-menu %}
    {% include "../../includes/left-menu.html" %}
{% endblock %}

{% block nav-bar %}
    {% include "../../includes/nav-bar.html" %}
{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">User /</span> Delete</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Delete User</h5>
                <div class="card-body">
                    <form method="post" action="{% url 'user-delete' user.id %}">
                        {% csrf_token %}
                        <p>Are you sure you want to delete the user <strong>{{ user.username }}</strong>?</p>
                        <div class="demo-inline-spacing">
                            <button type="submit" class="btn btn-danger">Yes, Delete</button>
                            <a href="{% url 'users' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include '../../includes/footer.html' %}
{% endblock %}