{% extends "master-page.html" %}
{% csrf_token %}

{% block left-menu %}
    {% include "../../includes/left-menu.html" %}
{% endblock %}


{% block nav-bar %}
    {% include "../../includes/nav-bar.html" %}
{% endblock %}


{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> User Management</h4>
    <div class="card">
     
        <h5 class="card-header">User Table</h5>
        <div class="table-responsive text-nowrap">
            <!-- User Table -->
            <iframe title="users" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=4cde438f-bdf6-4129-a06f-482a3b21b8d9&autoAuth=true&embeddedDemo=true" frameborder="0" allowFullScreen="true"></iframe>
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Product List</h5>
                <a href="{% url 'user-new' %}" class="btn btn-primary">Add New User</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Gender</th>
                        <th>Role</th>
                        <th>Avatar</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.get_gender_display }}</td>
                        <td>{{ user.role }}</td>
                        <td>
                            {% if user.image %}
                                <a href="{{ user.image.url }}" target="_blank">
                                    <img src="{{ user.image.url }}" alt="User Image" class="avatar">
                                </a>
                            {% else %}
                                <span>No Image</span>
                            {% endif %}
                        </td>
                        <td><span class="badge bg-label-primary me-1">{{ user.is_active|yesno:"Active,Inactive" }}</span></td>
                    
                    <td>
                        <div class="dropdown">
                          <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                            <i class="bx bx-dots-vertical-rounded"></i>
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="user-edit/{{ user.id }}"
                              ><i class="bx bx-edit-alt me-1"></i> Sửa</a>
                            <a class="dropdown-item" href="user-delete/{{ user.id }}"
                              ><i class="bx bx-trash me-1"></i> Xóa</a>
                          
                          </div>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}


{% block footer %}
{% endblock %}
